  div {

    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    }

  .vermelho {
    background-color: red;
  }

  .azul {
    background-color: blue;
  }

  .verde {
    background-color: rgb(20, 188, 20);
  }

  .amarela {
    background-color: yellow;
  }

  #supdireita {
    border:2px solid black;
  }
  .borda {
    border:2px solid black;
  }